version: "3"
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile

    container_name: frontend

    ports: 
      - 3000:3000
    
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile

    container_name: backend
    ports: 
      - 80:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    
    depends_on:
      - database

  database:
    image: postgres:latest
    environment:
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
    volumes: 
      - ./postgres:/var/lib/postgresql/data:rw
    ports: 
      - 5432:5432